name: Build GKI

on:
  workflow_call:
    inputs:
      TODO:
        type: string
      KSU:
        type: string
      KSU_SUSFS:
        type: string
      LAST_BUILD:
        type: string

  workflow_dispatch:
    inputs:
      TODO:
        description: To do
        default: ""
        type: choice
        options:
          - "kernel"
          - "defconfig"

      KSU:
        description: KernelSU variant
        default: "Suki"
        type: choice
        options:
          - "None"
          - "Next"
          - "Suki"
          - "Magic"

      KSU_SUSFS:
        description: Include SUSFS?
        default: "true"
        type: choice
        options:
          - "true"
          - "false"

env:
  MAN_DISABLE: true
  DEBIAN_FRONTEND: noninteractive

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/boost
          sudo apt-get clean
          df -h

      - name: Determine Build Status
        run: |
          if [ "${{ toJson(github.event.inputs) }}" == "null" ]; then
            echo "STATUS=RELEASE" >> $GITHUB_ENV
            echo "TRIGGER=workflow_call" >> $GITHUB_ENV
          else
            echo "STATUS=BETA" >> $GITHUB_ENV
            echo "TRIGGER=workflow_dispatch" >> $GITHUB_ENV
          fi

      - name: Validate Inputs and Secrets
        env:
          KSU: ${{ inputs.KSU }}
          KSU_SUSFS: ${{ inputs.KSU_SUSFS }}
        run: |
          _error() {
              echo "âŒ ERROR: $*"
              let ret++
          }

          ret=0
          # Check KernelSU variants
          if [[ $KSU == "None" && $KSU_SUSFS == "true" ]]; then
              _error "Cannot use SuSFS without KernelSU"
          fi

          if [[ $ret -gt 0 ]]; then
            exit $ret
          fi

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gh bc bison flex libssl-dev libelf-dev dwarves cpio

      - name: Enable swap with high priority and swappiness
        run: |
          sudo swapoff -a
          sudo fallocate -l 12G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile --priority 100
          sudo sysctl vm.swappiness=100
          free -h
          echo
          swapon --show

      - name: Run Build Script
        env:
          KSU: ${{ inputs.KSU }}
          KSU_SUSFS: ${{ inputs.KSU_SUSFS }}
          LAST_BUILD: ${{ inputs.LAST_BUILD }}
          TODO: ${{ inputs.TODO }}
          KVER: ${{ inputs.KERNEL_VERSION }}
        run: |
          export GIT_CLONE_PROTECTION_ACTIVE=false
          chmod +x *.sh
          ./build.sh

      - name: Upload Artifacts (ZIP & IMG)
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BASE_NAME }}-${{ github.run_number }}
          path: |
            artifacts/*.zip
            artifacts/*.img

      - name: Upload Artifacts (Info File)
        uses: actions/upload-artifact@v4
        with:
          name: info-${{ github.run_number }}
          path: artifacts/*.txt

      - name: Generate release notes
        run: |
          echo "TegarXLu GKI Build" > release.txt
          echo "Date: ${{ needs.finalize.outputs.date }}" >> release.txt

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: TegarXLu-GKI-${{ needs.finalize.outputs.date }}-${{ github.run_number }}
          name: TegarXLu GKI Build - ${{ needs.finalize.outputs.date }}
          body_path: release.txt
          files: artifacts/*.zip
          overwrite_files: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
